@import "./app-store-btns";
.com1 {
  background: url("../../../../assets/images/adds/comBackground.png");
  margin: auto;
  .comertial-label {
    margin: 1em 2em 3em;
  }
  .app-store-btns {
    .app-btn {
      width: 25%;
    }
  }
}
.com2 {
  background: url("../../../../assets/images/adds/com-extend-background.png");
  background-position: right;
  justify-content: flex-end;
  margin: 5em auto;

  .comertial-description {
    width: 30%;
    margin: 1em;

    .comertial-label {
      margin: 0;
    }
    .main-btn {
      align-self: center;
      width: 14em;
      margin: 1em 0 0;
      font-size: 1rem;
    }
  }
}
.comertial-wrapper {
  background-repeat: no-repeat;
  width: 80%;
  max-width: 90em;
  background-size: cover;
  background-position: top;
  border-radius: 20px;
  .comertial-description {
    justify-content: center;
    .comertial-label {
      letter-spacing: 2px;
      font-size: 1.8rem;
      color: #ffffff;
      line-height: 2rem;
    }
    .app-store-btns {
      margin: -6em 3em -1em;
      .app-btn {
        height: 10em;
      }
    }
  }
}

@media screen and(max-width:1280px) {
  .comertial-wrapper {
    width: 80%;
  }
  .com1 {
    background-position: 70%;
    background: url("../../../../assets/images/adds/com-1-tablet-background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    .comertial-description {
      .comertial-label {
        width: 55%;
        font-size: 2rem;
        line-height: 1;
      }
      .app-store-btns {
        margin: -6em 3em -1em;
      }
    }
  }
  .com2 {
    background: url("../../../../assets/images/adds/com-2-background-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and(max-width:1024px) {
  .comertial-wrapper {
    background-size: cover;
    width: 90%;
  }
  .com1 {
    background-position: 70%;
    .comertial-description {
      .comertial-label {
        font-size: 2.5rem;
        margin: 1em 1em 3em;
      }
      .app-store-btns{
        margin:-9em 1em -1em ;
      }
    }
  }
  .com2 {
    background-size: 100% 100%;
    .comertial-description {
      .main-btn {
        width: 11em;
        padding: 0.5rem;
      }
    }
  }
}

@media screen and(max-width:600px) {
  .comertial-wrapper {
    flex-flow: column;
    width: 100%;
    border-radius: 0;
    .comertial-description {
      text-align: center;
      width: 100%;
      .app-store-btns {
        justify-content: space-around;
        margin: 0;
        .app-btn {
          width: 35%;
        }
      }
      .comertial-label {
        width: 100%;
        margin: 0;
      }
    }
  }
  .com1 {
    background: url("../../../../assets/images/adds/com-1-background-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;
    .comertial-description{
      .comertial-label{
        margin: 1em auto 0;
      }
    .app-store-btns{
      margin: -1.5em 0 0;
      .app-btn{
        width: 40%;
      }
    }
  }
  }

  .com2 {
      background: url("../../../../assets/images/adds/com-2-background-mobile.png");
      background-size: 100% 100%;
      height: 25em;
      margin: 2em 0 0;
    .comertial-description {
      margin: 0;
      .main-btn {
        margin: 2em auto;
      }
    }
  }
}
