@import "../shared/app-store-btns";
.top-container {
  @media screen and (min-width: 1280px) {
    min-height: 50em;
  }
  background: url("../../../assets/images/home/backgrounds/top-background.png");
  background-size: cover;
  background-size: 100%;
  background-position: 74%;
  background-repeat: no-repeat;
  margin: 0 auto 4em;
  width: 85%;
  max-width: 95em;

  .top-header {
    margin: auto 3em;
    width: 45%;
    color: #fff;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.6rem;
    }

  }
}

@media screen and(max-width:1280px) {
  .top-container {
    width: 100%;
    background-size: 150% 100%;

    margin: 0 auto 3em;
    .top-header {
      margin: 2em;
      width: 30em;

      .app-store-btns {
        margin: 0 0 7em;
        flex-flow: column;
        .app-btn {
          width: 40%;
          height: 5em;
        }
      }
    }
  }
}

@media screen and(max-width:1025px) {
  .top-container {
    background-size: cover;
  }
}

@media screen and(max-width:850px) {
  .top-container {
    background-size: 100% 100%;
    background-position: top;
  }
}

@media screen and(max-width:600px) {
  .top-container {
    min-height: 100vh;
    background: url("../../../assets/images/home/backgrounds/top-background-mobile.png");
    background-repeat: no-repeat;
    background-size: 109% 100%;
    background-position: bottom;
    margin: 0 0 2em;
    flex-flow: column;
    .top-header {
      margin: 2em auto;
      width: 90%;
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1rem;
      }
      .app-store-btns {
        position: absolute;
        width: 90%;
        margin: 0;
        top: 75%;
      }
    }
  }
}

@media screen and(max-width:360px) {
  .top-container {
    .top-header {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
