
.pricing-wrapper {
    width: 85%;
    max-width: 90em;
    margin: auto;
    h3 {
      color: #e87b68;
      margin: 2em 0;
      font-weight: 200;
      font-size: 1rem;
    }
    .pricing-descr {
      margin: 5em ;
      width: 50%;
      h2 {
        font-size: 2.5rem;
        color: $primary-title-color;
      }
      p {
        color: #96525c;
      }
    }
    .offers {
      .offer {
        background: url('../../../assets/images/shared/prices-card-background.png');
        border-radius: 30px;
        color: #ffffff;
        width: 18em;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        h2 {
          margin: .5em auto 0;
          font-size: 3rem;
          line-height: 38px;
        }
        .minutes {
          border: 4px dashed #f9b19f;
          border-radius: 50%;
          background: #e87b68;
          height: 6em;
          width: 6em;
          margin: 2em auto 0;
        }
        p {
          width: 70%;
          margin: 2em auto;
        }
        .more-info {
          margin: 0 0 2em;
        }
      }
    }
  }
  
  @media screen and(max-width:1024px){
    .pricing-wrapper{
      width: 80%;
      background-position: 5em -2em;
      
      h3{
        margin: 2em;
      }
      header {
        width: 30%;
        margin: 2em;
        font-size: 1.2rem;
      }
      
      .offers{
      
        .offer{
          font-size: 1.1rem;
          p{
            width: 95%;
          }
          .more-info{
            width: 80%;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  
  @media screen and(max-width:600px){
    .pricing-wrapper{
      background: none;
      header{
        width: 90%;
        margin: 2em auto;
      }
      .offers{
        flex-flow: column;
        .offer{
          margin: 1em auto;
        }
      }
    }
  }