@font-face {
  font-family: "Catamaran-SemiBlod";
  src: url("../../../../assets/fonts/Catamaran-SemiBold.ttf") format("truetype"),
    url("../../../../assets/fonts/Catamaran-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Catamaran-Black";
  src: url("../../../../assets/fonts/Catamaran-Black.ttf") format("truetype"),
    url("../../../../assets/fonts/Catamaran-Black.woff") format("woff");
}

@font-face {
  font-family: "Cairo-SemiBold";
  src: url("../../../../assets/fonts/Cairo-SemiBold.ttf") format("truetype"),
    url("../../../../assets/fonts/Cairo-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Cairo-Regular";
  src: url("../../../../assets/fonts/Cairo-Regular.ttf") format("truetype"),
    url("../../../../assets/fonts/Cairo-Regular.woff") format("woff");
}

$primary-color: #96525c;
$secondary-color: #e67966;
$main-background: #fdfaf9;
$primary-title-color: #dec98f;
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $main-background;
  font-family: "Cairo-Regular";
}
.col {
  display: flex;
  flex-flow: column;
}
.row {
  display: flex;
}

a {
  text-decoration: none;
}
button {
  font-family: "Cairo-SemiBold";
  transition: all 0.5s;
  border: none;
  outline: 0;
  &:hover {
    cursor: pointer;
  }
  padding: 1em 1.8em;
  margin: auto 1em;
  border-radius: 10px;
  color: #ffffff;
  a {
    color: #ffffff;
  }
}
h2 {
  font-family: "Cairo-SemiBold";
}

.main-btn {
  background-color: $secondary-color;
}

img {
  width: 100%;
}
