@import '../shared/header-with-img';

.about-us-header{
  background: url("../../../../assets/images/about-us/about-us-top-background.png");
  .header-container {
    background: rgba(110, 67, 57, 0.4);
    h1 {
      width: 15em;
      margin: 0 4em;
      letter-spacing: 2px;
      font-weight: lighter;
    }
  }
}

@media screen and (max-width:1024px){
  .about-us-header{
    background-size: 100%;
  }
}
@media screen and(max-width:600px){
  .about-us-header{
    background-size: 215% 100%;
    background-position: center;
    .header-container{
      h1{
        margin: auto;
        width: 80%;
      }
    }
  }
}
