@import "../shared/page-line";
.c-s-line,
.t-s-line {
  height: 65em;
}

.line-title {
  background: #fdfaf9;
  z-index: 5;
  height: fit-content;
}

@media screen and(max-width:1024px) {
  .c-s-line {
    height: 120em;
  }
  .t-s-line {
    height: 95em;
  }
  .line-title {
    margin: 0 0 0 -1em;
  }
 
}
@media screen and (max-width: 600px) {
    .line-title{
        margin: 0;
    }
  .t-s-line {
    .line-title {
      margin: 1em 0;
    }
  }
}
